@charset "utf-8";

:root {
    font-family: 'Comic Sans MS', cursive, sans-serif;
    color: #524413;
}

body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    background: #f9e8cf;
}

.form_container {
    margin: 20px auto;
    padding: 5px;
    max-width: 480px;
    border-radius: 10px;
    background: #cd0000;
}
.form_container label {
    font-size: 1.5rem;
    font-weight: bold;
}


.form_header {
    background: #cd0000;
}
.form_header h1 {
    position: relative;
    margin: 0;
    padding: 5px;
    font-size: 2rem;
    color: #fff;
    text-align: center;
}
.form_header h1::before {
    position: absolute;
    top: -3rem;
    left: -0.5rem;
    font-size: 4rem;
    color: #f9e8cf;
    content: "\025cf";
}

.form_body {
    padding: 10px;
    border-radius: 0 0 10px 10px;
    background: #fff;
}
.form_body input[type="text"],
.form_body textarea {
    padding: 0.5rem;
    outline: 0;
    border: 2px solid #524413;
    box-sizing: border-box;
    color:#524413;
    font-size: 1.2rem;
    line-height: 1.5rem;
    border-radius: 10px;
    opacity: 0.75;
}
.form_body input[type="text"]:focus,
.form_body textarea:focus {
    opacity: 1;
}
.form_body input[type="text"] {
    width: 100%;
    height: 2rem;
}
.form_body textarea {
    width: 100%;
    height: 10rem;
}

.input_area {
    margin-bottom: 30px;
}
.input_area:last-child {
    margin-bottom: 10px;
}
.input_area > label {
    text-decoration: underline;
}

.pizza_topping,
.pizza_optional {
    margin-top: 0;
    padding: 0;
    list-style: none;
}

.submit_area {
    text-align: center;
}
.submit_area input[type="submit"] {
    display: inline-block;
    padding: 0.3rem;
    width: 60%;
    border: 0;
    border-bottom: 4px solid #990000;
    border-radius: 10px;
    background: #cd0000;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
}
.submit_area input[type="submit"]:hover {
    cursor: pointer;
}
.submit_area input[type="submit"]:focus {
    margin-top: 4px;
    border: 0;
    outline: 0;
}
